#scoreTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
#scoreTable th, #scoreTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
#scoreTable th {
  background-color: #f2f2f2;
}

.sc {
  font-weight: bold;
}
.sc-green {
  background-color: #47cf73;
}
.sc-yellow {
  background-color: orange;
}
.sc-red {
  background-color: red;
}
.sc-green, .sc-yellow, .sc-red {
  font-weight: bold;
  color: black;
}

#scoreWheel {
  float: right;
}

.wheel {
  display: inline-block;
  height: 12px;
  width: 8px;
  cursor: pointer;
  border: 1px solid #eee;
}

.idx {
  display: inline-block;
  width: 25px;
  margin-right: 5px;
  font-size: 0.7em;
  font-family: monospace;
  text-align: right;
}
.idx:after {
  content: ".";
}
.ftext {
  font-size: 0.8em;
}
.score {
  color: #999;
  font-size: 0.8em;
}
